version: "3"

services:
  api:
    build:
      context: .
      dockerfile: api/Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - ./api/.env
    depends_on:
      - db

      


  db:
    build: db
    ports:
      - "6380:6379"
    volumes:
      - .data:/data
     

  